<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arkangel.arkangel">

    <uses-permission android:name="android.permision.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".codigo"
            android:configChanges="orientation"
            android:screenOrientation="portrait" ></activity>
        <activity
            android:name=".persona_favorita"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".felizformulario"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".enojado"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feliz"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aburrido"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nervioso"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".emergencia"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actividad"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tutor"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".register"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sicontarform"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nocontar"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".contar"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".causas"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sentimientos"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>