<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arkangel.arkangel">

    <uses-permission android:name="android.permision.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".tutorial"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activitys.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.ResultadoTest"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.NoContarEnojado"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.SiContarEnojado"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.contarEnojado"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.notificationSelected"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.Notifications"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.personajeSelect"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.modalPersonaje"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.activity_pregunta"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.test_personalidad"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.options_user"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.codigo"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.persona_favorita"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.felizformulario"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.enojado"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.feliz"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.AburridoActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.nervioso"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.emergencia"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.actividad"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.tutor"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.RegisterActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.login"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.sicontarform"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.nocontar"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.contar"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.causas"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.sentimientos"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.Portada"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>